:root
{
	--black : #000000;
	--blue : #0000FF;
	--cyan : #00FFFF;
	--lg : #7CFC00;
	--aliceblue : #F0F8FF;
	--blue : #2C2546;
	--dark-blue : #1B1535;
	--green :  #00EB09;
	--white: #fff;
}

*
{
	margin : 0;
	padding : 0;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	font-family: courier new;
}

header
{
	text-align: center;
	font-weight: bold;
	font-color: var(--lg);
	background-color: var(--black);
	align-items: center;
	position: fixed;
}

body
{
	background-color: var(--black);
}

.title
{
	color: var(--green);
	font-size: 15px;
	border-bottom: 1px solid var(--aliceblue);
	margin-right: 5px;
}

.input-search
{
	width: 30%;
	border: none;
	border-radius: 0 0 0 20px;
	padding: 2px;
}

.input-submit
{
	margin-left: -5px;
	border: none;
	border-radius: 0 20px 0 0;
	padding: 2px;
	background-color: var(--green);
	color: var(--blue);
	width: 5;
	font-weight: bold;
}

nav
{
	margin-top: 20px;
}

nav ul
{
	display: flex;
	gap: 20px;
	justify-content: center;
	font-size: 15px;
}

nav ul li a
{
	color: var(--green);
}

.slider
{
    margin-top: 10%;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 65%;
}

.slider h4
{
    margin-top: 20%;
}

.slides
{
    display: flex;
    width: 50rem;
    overflow: hidden;
}

.slides img 
{
    border-radius: 10px;
}

.slide
{
    width: 50rem;
    transition: .5s;
}

.choose_1:checked ~ .slides > .s1
{
    margin-left: -0rem;
}

.choose_2:checked ~ .slides > .s1
{
    margin-left: -50rem;
}
